*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: inherit;
}

h1 {
  text-align: center;
  font-size: 3rem;
}

main ul {
  display: flex;
  list-style: none;
  flex-shrink: 0;
  overflow: hidden;
  transform: translateX(0);
  transition: transform 0.3s linear;
}
  
main li {
    flex-shrink: 0;
    font-size: 10rem;
    width: 100%;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


main li:first-of-type {
  background: skyblue;
}

main li:nth-child(2) {
  background-color: crimson;
}

main li:last-of-type {
  background: yellowgreen;
}

#slide1:target ~ ul {
  transform: translateX(0);
}

#slide2:target ~ ul {
  transform: translateX(-100%);
}

#slide3:target ~ ul {
  transform: translateX(-200%);
}


footer ul  {
  display: flex;
  margin-right: 1rem;
  justify-content: center;
  list-style-type: none;
  align-items: center;
  margin-top: 2rem;
  overflow: hidden;
}
footer li {
  margin-right: 1rem;
}
footer li a {
  font-size: 2rem;
  text-decoration: none;
}
